:root {
  --main-bg: gray
}

.headerNav {
  background-color: gray;
}

.filterProperties {
  z-index: 2;
}

.containerFilter > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.selectProperties {
  color: #fff;
  background-color: gray;
  border-radius: 7em;
}

.form-select:focus {
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(145, 152, 163, 0.07);
}

.form-check-input:focus {
  border-color: gray !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(145, 152, 163, 0.07);
}

input:checked {
  background-color: black !important;
  border-color: gray !important;
}